.IndexCom_cartSidebar {
    padding: 50px 190px 320px 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url(../../../../Assets/images/Edit\ your\ cardBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
width: 100%;

}

@media(max-width: 1000px) {
    .IndexCom_cartSidebar {
        flex-direction: column;
        margin-left: 0px;
        align-items: center;
        padding: 47px 10px 340px 10px;
    }

}

@media(max-width: 1250px) {
    .IndexCom_cartSidebar {
        padding: 47px 10px 340px 10px;
        justify-content: space-around;
        gap: 30px;
    }
 

}