.SingleCardSidebar {
  width: 100%;
  max-width: 500px;
  margin-top: 0;
}

.SingleCardSidebar h2 {
  font-family: "Luckiest Guy", cursive;
  color: #30404d;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 5px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.SingleCardSidebar label {
  color: white;

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0px 5px;
}

/* --------- */
.jodit-workplace+.jodit-status-bar:not(:empty) {
  display: none !important;
}

.jodit .jodit-workplace .jodit-wysiwyg,
.jodit .jodit-workplace .jodit-wysiwyg_iframe,
.jodit-container .jodit-workplace .jodit-wysiwyg,
.jodit-container .jodit-workplace .jodit-wysiwyg_iframe {
  height: 200px;
  width: 100%;
}

/* ---------- SingleCardSidebar_inputs */
.SingleCardSidebar_inputs {
  padding: 10px 5px;
}

/* .SingleCardSidebar_inputs label {
  color: #2a254b;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  margin-bottom: 10px;
} */
.SingleCardSidebar_inputs input {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  outline: none;
  padding: 20px 5px;
  background-color: transparent;
  border: 1px solid #30404D;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  color: #30404D;
  font-size: 16px;
}

.SingleCardSidebar_inputs ::placeholder {
  color: #30404D;
  font-size: 14px;
}

.SingleCardSidebar_inputs textarea {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  outline: none;
  padding: 6px 5px;
  background-color: transparent;
  color: #30404D;
  border: 1px solid #30404D;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;

}

.SingleCardSidebar__product-name {
  font-family: "Luckiest Guy", cursive;
  color: #30404d;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.1;
  margin: 28px 0 0;
  padding: 0 5px;
  text-transform: uppercase;
}

@media(max-width : 1000px) {
  .SingleCardSidebar {
    width: 100%;
 
  }
.SingleCardSidebar{
  display: flex;
  flex-direction: column;
align-items: center;
}
.SingleCardSidebar_inputs {
  width: 100%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the element horizontally */
}

.flip_card_parent {
  width: 100%;
  height: auto;
  position: relative;
}
}