.single_card_main {
    display: flex;
    flex-direction: row;
    /* Align children horizontally */
    justify-content: flex-end;
    /* Align children to the end of the container */
    gap: 4rem;
    /* Adjust gap between elements if needed */
    border: 2px solid rgb(255, 255, 255);
    padding: 60px;
    border-radius: 24px;
    width: 100%;

}





/* ================ flip_card_parent */
.flip_card_parent {
    width: 100%;
    height: 400px;
    /* Add perspective for 3D effect */
    position: relative;
}

/* --------- butoon_editing */
.butoon_editing {
    margin: 10px 0px;
    margin-top: 34px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    /* gap: 30px; */
    padding: 5px;
}

.butoon_editing button {
    padding: 6px 15px;
    color: #30404D;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.btnprev {
    border: 2px solid #30404D;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;

}

.btnnext {
    border: 2px solid #30404D;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* =============== blank_box */
.blank_box {
    width: 300px;
    height: 400px;
    background-color: purple;
}

@media(max-width: 1000px) {
    .single_card{
     width: 100%;
     margin-top: -190px;
    }
    .single_card_main{
        padding: 20px;
    }
    .butoon_editing button{
        display: none;
    }
}