.hero {
  /* display: flex; */
  /* grid-template-columns: 1fr 0.5fr; */
  padding: 60px 80px;
  margin: 0;
  width: 100%;
  /* height: 100vh; */
  justify-content: center;
  align-items: flex-start;
  justify-self: center;
  align-self: center;
  position: relative;
  /* Ensure positioning context for pseudo-element */
}

.left_hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #A7EAFF;
  clip-path: polygon(0% 0%, 74% 0%, 100% 0, 100% 26%, 50% 48%, 8% 71%, 0 75%, 0 0);
  z-index: -1;
  /* Ensure the pseudo-element is behind the content */
}

/* --------------left_hero */
.left_hero {
  color: white;
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px 0px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  overflow: hidden;
  height: 350px;

}

.left_hero h2 {
  color: #30404D;
  font-size: 50px;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 20px;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;

}

.left_hero button {
  color: #30404D;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  border: 2px solid #30404D;
  border-radius: 32px;
  padding: 8px 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.left_hero p {
  color: #30404D;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
  max-width: 550px;
  padding: 10px 0px 40px 0px;
}

/* -------------- right_hero */
.right_hero {
  width: 100%;
  /* height: 100%; */
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  /* position: absolute; */
  /* position: relative; */
  display: flex;
  justify-content: center;
}

.right_hero img {
  width: 70%;
  height: 100%;
  margin-top: -230px;
  margin-left: 160px;
}

/* =========== media  */
/* Mobile devices (phones, 320px and up) */
@media only screen and (max-width:1080px) {
  .hero {
    display: block;
    height: auto;
    padding: 60px 20px 10px 20px;

  }

  .left_hero {
    width: 100%;
  }

  .right_hero {
    width: 100%;
  }

  .left_hero h2 {
    font-size: 35px;
  }

  .right_hero img {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
  }
}

/* Small tablets (768px and up) */
@media only screen and (min-width: 768px) {
  /* Styles for small tablets */
}

/* Medium tablets and laptops (992px and up) */
@media only screen and (min-width: 992px) {
  /* Styles for medium tablets and laptops */
}

/* Large tablets, laptops and desktops (1200px and up) */
@media only screen and (min-width: 1200px) {
  /* Styles for large tablets, laptops and desktops */
}

/* Extra large desktops (1600px and up) */
@media only screen and (min-width: 1600px) {
  /* Styles for extra large desktops */
}




/* 
@media (max-width: 850px) {}

@media (max-width: 678px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .right_hero {
    display: none;
  }

  .hero {
    padding: 10px;
  }
}

@media (max-width: 500px) {


  .left_hero {
    padding: 10px 10px;
  }

  .left_hero {
    height: 100%;
    justify-content: flex-start;
    padding-top: 100px;
    gap: 20px;
  }
} */