.section3 {
  display: flex;
  width: 100%;
}

.section3-left {
  width: 50%;
}

.section3-left img {
  width: 100%;
  height: 100%;
}

.section3-right {
  width: 50%;
  background-color: #fcc79f;
  padding: 20px 0px 0px 0px;
}

.section3-right-text {
  padding: 20px;
  width: 70%;
  padding-left: 60px;
}

.section3-right-text h2 {
  color: #30404D;
  /* font-family: Poppins; */
  font-size: 60px;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 20px;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.section3-right-text p {
  font-size: 16px;
  color: #30404D;
  font-family: "Poppins", sans-serif;

}

/* .section3-cards-data */

.section3-cards-data {
  width: 50%;
  margin-left: 60px;
  padding-top: 40px;
}

.card-name-nbr {
  display: flex;
  justify-content: space-between;
}

.card-name-nbr h1 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #30404D;
}

.card-name-nbr p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #30404D;
  border: 1px solid;
  border-radius: 30px;
  padding: 2px 11px;
}

.sectoion-3-cards-price {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.sectoion-3-cards-price h1 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #30404D;
}

.sectoion-3-cards-price p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #30404D;
  border: 1px solid;
  border-radius: 30px;
  padding: 2px 25px;
  display: flex;
  align-items: center;
}

.sectoion-3-cards-price svg {
  color: #ff9900;
  padding: 0px 5px 0px 0px;
  font-size: 20px;
}

.Configure-card {
  margin-top: 40px;

}

.Configure-card button {
  border: 1px solid #30404D;
  font-weight: 500;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #30404D;
  border-radius: 30px;
  padding: 5px 10px;
}






@media only screen and (max-width: 1080px) {
  .section3 {
    display: block;
  }

  .section3-left {
    width: 100%;
  }

  .section3-right {
    width: 100%;
  }

  .section3-right-text h2 {
    font-size: 30px;
  }

  .section3-right-text {
    width: 100%;
    padding: 20px;
  }

  .section3-cards-data {
    padding: 20px;
    width: 100%;
    margin: 0px;
  }
}

/* Small tablets (768px and up) */
@media only screen and (min-width: 768px) {
  /* Styles for small tablets */
}

/* Medium tablets and laptops (992px and up) */
@media only screen and (min-width: 992px) {
  /* Styles for medium tablets and laptops */
}

/* Large tablets, laptops and desktops (1200px and up) */
@media only screen and (min-width: 1200px) {
  /* Styles for large tablets, laptops and desktops */
}

/* Extra large desktops (1600px and up) */
@media only screen and (min-width: 1600px) {
  /* Styles for extra large desktops */
}