.footer-main {
  background-color: #fcc79f;
  width: 100%;
}

.footer-main-inner {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding-bottom: 30px;
  position: relative;
  padding: 30px 55px;

}

.footer-logo-text {
  width: 45%;
  font-family: "Poppins", sans-serif;
  color: #30404D;
  padding: 0px 40px 0px 0px;
}

.footer-logo-text img {
  width: 20%;
}

.footer-links-left {
  width: 20%;
}

.footer-links-left ul {
  list-style: none;
  font-family: Poppins;
  font-size: 16px;
  color: #30404D;

}

.footer-links-right {
  width: 20%;
}

.footer-links-right h2 {
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #30404D;

}

.footer-links-left h2 {
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #30404D;
}

.footer-links-right ul {
  list-style: none;
  font-family: Poppins;
  font-size: 16px;
  color: #30404D;
}

.footer-media {
  width: 15%;
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.footer-media svg {
  font-size: 40px;
}

.vl {
  border-left: 2px solid #30404D;
  height: 200px;
  position: absolute;
  left: 61%;
}

.footer-bootm {
  width: 100%;
  border-top: 1px solid #30404D;
  text-align: center;
}

.footer-bootm p {
  font-family: Poppins;
  font-size: 16px;
  margin-top: 15px;
  color: #30404D;
}

@media (max-width: 768px) {
  .footer-main-inner {
    width: 100%;
    padding: 20px 10px;
    /* Adjust padding */
  }

  .footer-logo-text img {
    width: 60%;
    /* Adjust logo size */
  }

  .footer-links-left,
  .footer-links-right,
  .footer-media {
    width: 50%;
    /* Half width on small screens */
  }
}